{% extends 'base.htm' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<script src="{% static 'js/prism.js' %}"></script>
<!--
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<link type="stylesheet" href="django_summernote/summernote.css"></script>
<script type="text/javascript" src="{% static 'django_summernote/jquery.ui.widget.js' %}"></script>
<script type="text/javascript" src="{% static 'django_summernote/jquery.iframe-transport.js' %}"></script>
<script type="text/javascript" src="{% static 'django_summernote/jquery.fileupload.js' %}"></script>
<script type="text/javascript" src="{% static 'django_summernote/summernote.min.js' %}"></script>
-->
<script src="{% static 'js/summernote-ext-highlight.js' %}"></script>
{% endblock %}

{% block content %}
<div id="question" class="question">
    {% if question.updated_date %}
    <span class="date">{{ question.updated_date }}</span><span class="date"> ({{ question.updated_date|timesince }} 전)</span>
    {% endif %}
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'question_remove' pk=question.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    <h1>{{ question.title }}</h1>
    <p>{{ question.content|safe }}</p>
</div>
{% include 'qna/answer_list.htm' %}
{% endblock %}
