{% extends 'base.htm' %}

{% block content %}
    <div class="question">
        {% if question.updated_date %}
            <div class="date">
                {{ question.updated_date }}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'question_remove' pk=question.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        {% endif %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.content|safe }}</p>
    </div>
{% endblock %}
