{% extends 'base.htm' %}

{% block content %}
<div id="question" class="question">
    {% if question.updated_date %}
    <span class="date">{{ question.updated_date }}</span><span class="date"> ({{ question.updated_date|timesince }} 전)</span>
    {% endif %}
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'question_remove' pk=question.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    <h1>{{ question.title }}</h1>
    <p>{{ question.content|safe }}</p>
</div>
{% include 'qna/answer_list.htm' %}
{% endblock %}
