/* qna.css */
h1 a {
    color: #202020;
}

body {
    background-color: #eee;
}

footer {
    height: 80px;
    margin: 0 auto;
    padding: 20px 30px;
}

.paper {
    background-color: #fff;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.copyright {
    clear: both;
    color: #909090;
    text-align: center;
    display: block;
    font-size: 14px;
    padding-top: 4px;
}
